@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
  background-color: #f2e8cf70;
}
header {
  width: 100%;
  height: 120px;
}
footer {
  bottom: 0;
  width: 100%;
  height: 100px;
}